In [6]:
def read_input(seed: int):
    with open(f"../tools/in/{seed:04}.txt", "r") as f:
        n, d, q = map(int, f.readline().split())
        w = list(map(int, f.readline().split()))
    return n, d, q, w

In [17]:
n, d, q, w = read_input(1)

groups = [
    [
        24,
        6,
        42,
        18,
        45,
        54,
        36,
        0,
        48,
        12,
        30,
    ],
    [
        1,
        7,
        13,
        19,
        25,
        31,
        37,
        43,
        49,
        55,
    ],
    [
        2,
        8,
        14,
        46,
        34,
        32,
        38,
        44,
        50,
        22,
        52,
        3,
    ],
    [
        39,
        9,
        15,
        21,
        27,
        51,
    ],
    [
        16,
        10,
        40,
        4,
        26,
        28,
    ],
    [
        5,
        11,
        17,
        23,
        29,
        35,
        41,
        47,
        53,
        33,
        20,
    ],
]

groups = [(groups[i], i) for i in range(d)]
sorted(groups)

[([1, 7, 13, 19, 25, 31, 37, 43, 49, 55], 1),
 ([2, 8, 14, 46, 34, 32, 38, 44, 50, 22, 52, 3], 2),
 ([5, 11, 17, 23, 29, 35, 41, 47, 53, 33, 20], 5),
 ([16, 10, 40, 4, 26, 28], 4),
 ([24, 6, 42, 18, 45, 54, 36, 0, 48, 12, 30], 0),
 ([39, 9, 15, 21, 27, 51], 3)]